@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --font-poppins: "Poppins";
}

body {
    font-family: var(--font-poppins);
    background-color: rgb(255, 255, 255);
    
}



#openSidePanel {
    font-family: var(--font-poppins);
    background-color: #3e77b5;
    color:black;
    font-size:7px;
    width:200px;
    border-radius:2vw;
    margin-bottom:3vw;
    cursor:pointer;
}

#openSidePanel:hover {
    background-color: #95b8de;
}

#startRecording{
    font-family: var(--font-poppins);
    font-weight:500;
    background-color: lightgreen;
    border-radius:2vw;
    color:black;
    margin-top:5vw;
    width:250px;
    cursor:pointer;
    font-size:10vw;
    display:inline;
}

#startRecording:hover{
    background-color:lightseagreen;
}

#status{
    color:maroon;
    
}

#mainButtons{
    text-align:center;
    justify-content:center;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}

#features{
    height:100vw;
    margin-top:125vw;
}

#transcriptlist{
    list-style-type: none;
    margin-left:-3vw;
    
}

#transcriptwords{
    font-weight:700;
    font-size:4vw;
    color:black;
    display:inline;
}

#timestamp{
    font-size:4vw;
    font-weight:700;
    color:darkviolet;
    display:inline;
}

#wpmcontent{
    margin-top:-20vw;
    justify-content: center;
    align-items:center;
    text-align: center;

}

#wpm{
    display:none;
    font-weight:bolder;
    font-size:100px;
}

#wpmtext{
    display:none;
    font-weight:bolder;
    font-size:30px;
    margin-top:-30vw;
}

#disconnecthelp{
    display:none;
    font-size:15px;
    margin-bottom:-10vw;
}


#instruct{
    animation: blinker 3s linear infinite;
    display:none;
    font-weight:bolder;
    font-size:30px;
    
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#graph{
    display:none;
}